.burger-ingredient__card {
    cursor: pointer;
}

.burger-ingredient__name {
    text-align: center;
}

.burger-ingredient__item {
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.burger-ingredient__price-container {
    display: flex;
    flex-direction: row;
}
