.burger-ingredient-card__illustration {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.burger-ingredient-card__nutrients {
    margin: 0 auto;
    text-align: center;
}
