.burger-constructor {
    display: grid;
    grid-template-rows: minmax(0, 1fr) max-content;
    max-height: calc(100vh - 88px);
}

.burger-constructor__list {
    display: grid;
    max-height: 100%;
    grid-template-rows: max-content 1fr max-content;
}

.burger-constructor__fillings {
    margin: 0;
    padding: 0;
    overflow: auto;
}

.burger-constructor__fillings::-webkit-scrollbar {
    width: 8px;
}

.burger-constructor__fillings::-webkit-scrollbar-thumb {
    /* Foreground */
    background: #8585AD;
    border-radius: 6px;
}

.burger-constructor__fillings::-webkit-scrollbar-track {
    /* Background */
    background: #2F2F37;
}

.burger-constructor__filling {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.burger-constructor__total {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.burger-constructor__amount-container {
    display: flex;
    flex-direction: row;
}
